/* @media (max-width: 768px) {
	.banner {
		width: 95%;
	}

	.product {
		width: 60px;
	}
}

@media (max-width: 480px) {
	.product {
		width: 50px;
	}

	.drop-zone {
		width: 150px;
		height: 120px;
	}
} */
