* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'YandexSansText-Medium';
	src: url('../assets/fonts/yandexsanstext-medium.eot');
	src: url('../assets/fonts/yandexsanstext-medium.eot?#iefix')
			format('embedded-opentype'),
		url('../assets/fonts/yandexsanstext-medium.woff2') format('woff2'),
		url('../assets/fonts/yandexsanstext-medium.woff') format('woff'),
		url('../assets/fonts/yandexsanstext-medium.ttf') format('truetype'),
		url('../assets/fonts/yandexsanstext-medium.svg#yandexsanstext-medium')
			format('svg');
}
